/*** TOP LEVEL ***/
html, body {
    margin: 0;
    padding: 0;
    background: #FFF;
    height: 100%;
}
h1 {
    font: normal 32px 'Oswald', Arial;
}
h2 {
    font-size: 18px;
    text-align: center;
}

/*** CONTENT ***/
div#content_wrapper {
    position: relative;
    margin: 0 0 -120px;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}
div#content {
    position: relative;
    background-color: #6DA158;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    border-bottom: 1px solid #000;
    z-index: 10;
}
div#content_body_top {
    position: relative;
    padding: 40px 20px 22px;
    width: 960px;
    margin: 0 auto -50px;
    text-align: center;
}
div#header_login {
    display: block;
    position: absolute;
    top: 15px;
    right: 0px;
    font-size: 11px;
}
div#content_body_bottom {
    padding: 0px;
    width: 960px;
    margin: 0 auto;
    text-align: center;
}
div#content_end {
    clear: both;
    height: 120px;
}

/*** FOOTER ***/
div#footer {
    position: relative;
    clear: both;
    height: 59px;
    width: 960px;
    margin: 40px auto 0;
    background: #FFF;
    font: normal 12px arial;
    text-align: center;
    padding: 10px 20px;
    z-index: 15;
}
div#footer ul {
    margin: 10px auto 10px;
    padding: 0px;
    text-align: center;
}
div#footer ul li {
    display: inline;
    list-style: none;
    padding: 0 10px;
}
#footer ul a {
    color: #333;
}
#footer ul a:hover {
    color: #000;
}
