html, body {
    font-family: arial;
    font-size: 12px;
    margin: 0;
    padding: 0;
    background: #7EAF65;
    height: 100%;
    min-width: 1000px;
    line-height: 1.6em;
    color: #121;
}
img {
    border: 0;
}
p {
    margin: 0 0 10px 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 20px 0 10px 0;
    padding: 0;
    color: #000;
}
a {
    color: #800;
    text-decoration: none;
}
ol, ul {
    padding: 0px 0px 0px 25px;
}
li {
    padding: 0 0 5px;
}
label {
    font-weight: bold;
    padding: 4px 0;
    display: block;
}
input[type=text], select, textarea {
    border: 1px solid #242;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow:    inset 1px 3px 2px #BCA;
    -webkit-box-shadow: inset 1px 3px 2px #BCA;
    box-shadow:         inset 1px 3px 2px #BCA;
    background-color: #EFD;
    padding: 4px;
    color: #121;
    font: normal 12px arial;
}
input[type=submit], button {
    border: 1px solid #121;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow:    inset -1px -2px 2px #BBB, inset 1px 2px 2px #FFF;
    -webkit-box-shadow: inset -1px -2px 2px #BBB, inset 1px 2px 2px #FFF;
    box-shadow:         inset -1px -2px 2px #BBB, inset 1px 2px 2px #FFF;
    background-color: #DDD;
    padding: 4px;
    font: bold 14px arial;
    color: #111;
    text-shadow: 1px 1px 1px #FFF;
    cursor: pointer;
}
input[type=submit]:hover, button:hover {
    background-color: #EEE;
    -moz-box-shadow:    inset -1px -2px 2px #CCC, inset 1px 2px 2px #FFF;
    -webkit-box-shadow: inset -1px -2px 2px #CCC, inset 1px 2px 2px #FFF;
    box-shadow:         inset -1px -2px 2px #CCC, inset 1px 2px 2px #FFF;
    color: #333;
}
input[type=submit]:active, button:active {
    background-color: #DDD;
    -moz-box-shadow:    inset -1px -2px 2px #FFF, inset 1px 2px 2px #BBB;
    -webkit-box-shadow: inset -1px -2px 2px #FFF, inset 1px 2px 2px #BBB;
    box-shadow:         inset -1px -2px 2px #FFF, inset 1px 2px 2px #BBB;
    color: #222;
}

/*** HEADER ***/
div#header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 47px;
    min-width: 100%;
    margin: 0 auto;
    background: #357730;
    padding: 0px 0;
    border-bottom: 3px solid #000;
    -moz-box-shadow: 0px 2px 2px #232;
    -webkit-box-shadow: 0px 2px 2px #232;
    box-shadow: 0px 2px 2px #232;
    z-index: 20;
}
div#header_content {
    height: 47px;
    width: 1000px;
    margin: 0 auto;
    position: relative;
    top: 0px;
}
img#header_logo {
    display: block;
    margin: 0;
    position: absolute;
    top: 9px;
    left: 450px;
}
input#header_button {
    display: block;
    position: absolute;
    top: 9px;
    right: 0px;
    border: 2px solid #000;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: inset 1px 3px 2px #363;
    -webkit-box-shadow: inset 1px 3px 2px #363;
    box-shadow: inset 1px 3px 2px #363;
    background-color: #508846;
    height: 14px;
    width: 200px;
    padding: 5px 0px 5px 8px;
    font: italic 14px arial;
    z-index: 25;
}

/*** NAVIGATION ***/
div#navigation {
    position: absolute;
    left: 0;
    top: 50px;
    width: 150px;
    z-index: 5;
}
div#navigation ul {
    position: relative;
    margin: 0;
    padding: 0;
}
div#navigation ul li {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
div#navigation ul li a {
    position: relative;
    display: block;
    width: 139px;
    background-color: #779767;
    margin-bottom: 3px;
    border: 3px solid #000;
    -moz-border-radius: 8px 0 0 8px;
    border-radius: 8px 0 0 8px;
    padding: 4px 4px;
    height: 25px;
    font: bold 14px arial;
    line-height: 25px;
    border-right: 0;
    -moz-box-shadow: 0px 2px 2px #232;
    -webkit-box-shadow: 0px 2px 2px #232;
    box-shadow: 0px 2px 2px #232;
    color: #000;
    text-decoration: none;
}
div#navigation ul li a.selected {
    background-color: #FFF;
    right: 0px;
    width: 142px;
    -moz-box-shadow: 0px 4px 2px -3px #232;
    -webkit-box-shadow: 0px 4px 2px -3px #232;
    box-shadow: 0px 4px 2px -3px #232;
    z-index: 40;
}
div#navigation ul li a.normal:hover {
    background-color: #9EC18C;
}
div#navigation ul li a.normal:active {
    background-color: #C0D8B8;
}
div#navigation ul li a img {
    vertical-align: top;
}

/*** CALENDAR ***/
div#navigation table {
    font: normal 11px arial;
    margin: 10px 0;
}
div#navigation td {
    text-align: right;
    padding: 0 3px;
}
div#navigation td#date_string {
    font-weight: bold;
    color: #000;
    text-align: left;
    padding: 2px 2px 4px;
}
div#navigation td.strong {
    font-weight: bold;
    color: #315232;
}
div#navigation td.faded {
    color: #4C8048;
}
div#navigation td.today {
    background-color: #315232;
    color: #C0D8B8;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/*** CONTENT ***/
div#content_wrapper {
    position: relative;
    left: 75px;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
    width: 844px;
    background-color: #FFF;
    margin: 0 auto -100px;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    -moz-box-shadow: 1px -5px 6px #232;
    -webkit-box-shadow: 1px -5px 6px #232;
    box-shadow: 1px -5px 6px #232;
    z-index: 10;
}
div#content_end {
    clear: both;
    height: 100px;
}
div#content {
    position: relative;
    float: left;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    z-index: 10;
}
div#content_header {
    margin-top: 50px;
    padding: 15px 17px;
    background-color: #9EC18C;
    width: 810px;
    height: 75px;
    background-image: url('/image/layout/mascot-silhouette.png');
    background-position: 90% bottom;
    background-repeat: no-repeat;
    position: relative;
}
div#content_heading {
    position: absolute;
    left: 17px;
    bottom: 17px;
}
div#page_title {
    color: #232;
    font: 28px oswald, arial;
}
div#page_subtitle {
    font: bold 11px arial;
}
div#content_body {
    width: 810px;
    padding: 15px 17px;
}

/*** FOOTER ***/
div#footer {
    position: relative;
    left: 75px;
    clear: both;
    height: 59px;
    border-top: 1px solid #222;
    width: 810px;
    margin: 20px auto 0;
    background: #FFF;
    padding: 10px 0;
    z-index: 15;
}
ul#footer_menu {
    margin: 0px;
    padding: 0px;
    float: left;
}
ul#footer_menu li {
    font: normal 13px arial;
    float: left;
    list-style: none;
    padding-right: 20px;
}
ul#footer_menu a {
    color: #333;
    text-decoration: none;
}
ul#footer_menu a:hover {
    color: #000;
    text-decoration: underline;
}
div#footer_side_rail {
    float: right;
    font: normal 11px arial;
    text-align: right;
    color: #888;
}

/*** MASCOT ***/
div#toolbar_wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0px;
    z-index: 40;
}
div#toolbar {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    height: 0px;
    z-index: 45;
}
img#mascot {
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: 5;
}

/*** SPEECH BUBBLE ***/
div#speech_bubble {
    position: absolute;
    left: 140px;
    bottom: 105px;
    z-index: 50;
    border: 3px solid #000;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 20px 30px 20px 20px;
    background-color: #FF8;
    text-align: center;
    font: normal 13px arial;
    -moz-box-shadow: 1px 1px 6px #232;
    -webkit-box-shadow: 1px 1px 6px #232;
    box-shadow: 1px 1px 6px #232;
}
a#speech_bubble_close {
    position: absolute;
    top: 5px;
    right: 8px;
    font: bold 20px arial;
    color: #000;
}
div#speech_bubble_tail {
    position: absolute;
    left: -13px;
    bottom: 10px;
    z-index: 55;
    border-color: transparent #FF8 transparent transparent;
    border-style: solid;
    border-width: 13px 13px 0 0;
    width: 0px;
    height: 0px;
    background-color: transparent;
}
div#speech_bubble_tail_border {
    position: absolute;
    left: -20px;
    bottom: 7px;
    z-index: 50;
    border-color: transparent #000 transparent transparent;
    border-style: solid;
    border-width: 20px 20px 0 0;
    width: 0px;
    height: 0px;
    background-color: transparent;
}
