html, body {
    font-family: arial;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    background: #7EAF65;
    height: 100%;
    min-width: 1000px;
}

/*** HEADER ***/
div#header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 47px;
    min-width: 100%;
    margin: 0 auto;
    background: #307731;
    padding: 0px 0;
    border-bottom: 3px solid #000;
    -moz-box-shadow: 0px 2px 2px #232;
    -webkit-box-shadow: 0px 2px 2px #232;
    box-shadow: 0px 2px 2px #232;
    z-index: 20;
}
div#header_content {
    height: 47px;
    width: 1000px;
    margin: 0 auto;
    position: relative;
    top: 0px;
}
img#header_logo {
    display: block;
    margin: 0;
    position: absolute;
    top: 9px;
    left: 450px;
}
input#header_button {
    display: block;
    position: absolute;
    top: 9px;
    right: 0px;
    border: 2px solid #000;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: inset 1px 3px 2px #363;
    -webkit-box-shadow: inset 1px 3px 2px #363;
    box-shadow: inset 1px 3px 2px #363;
    background-color: #458846;
    height: 24px;
    width: 200px;
    padding-left: 8px;
    font: italic 14px arial;
    z-index: 25;
}

/*** NAVIGATION ***/
div#navigation {
    position: absolute;
    left: 0;
    top: 50px;
    width: 160px;
    z-index: 5;
}
div#navigation ul {
    margin: 120px 0 0 0;
    padding: 0;
}
div#navigation li {
    display: block;
    width: 141px;
    background-color: #779767;
    margin-bottom: 3px;
    border: 3px solid #000;
    -moz-border-radius: 8px 0 0 8px;
    border-radius: 8px 0 0 8px;
    padding: 8px;
    font: bold 14px arial;
    border-right: 0;
    -moz-box-shadow: 0px 2px 2px #232;
    -webkit-box-shadow: 0px 2px 2px #232;
    box-shadow: 0px 2px 2px #232;
}
div#navigation li.selected {
    background-color: #FFF;
    position: relative;
    right: 0px;
    width: 144px;
    -moz-box-shadow: 0px 4px 2px -3px #232;
    -webkit-box-shadow: 0px 4px 2px -3px #232;
    box-shadow: 0px 4px 2px -3px #232;
    z-index: 40;
}

/*** WRAPPER ***/
div#wrapper {
    position: relative;
    left: 80px;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
    width: 834px;
    background-color: #FFF;
    margin: 0 auto -50px;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    -moz-box-shadow: 1px 0px 6px #232;
    -webkit-box-shadow: 1px 0px 6px #232;
    box-shadow: 1px 0px 6px #232;
}
div#wrapper_end {
    clear: both;
    height: 50px;
}

/*** CONTENT ***/
div#content {
    position: relative;
    float: left;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    z-index: 10;
}
div#content_header {
    margin-top: 50px;
    padding: 20px;
    background-color: #9EC18C;
    font: 24px bebas, arial;
    color: #232;
}
div#content_body {
    width: 800px;
    padding: 15px 17px;
}

/*** FOOTER ***/
div#footer {
    position: relative;
    left: 80px;
    clear: both;
    height: 29px;
    border-top: 1px solid #222;
    width: 800px;
    margin: 0 auto;
    background: #FFF;
    padding: 10px 0;
    z-index: 25;
}
ul#footer_menu {
    margin: 0px;
    padding: 0px;
    float: left;
}
ul#footer_menu li {
    font-size: 12px;
    float: left;
    list-style: none;
    padding-right: 20px;
}
ul#footer_menu a {
    color: #000;
    text-decoration: none;
}
ul#footer_menu a:hover {
    text-decoration: underline;
}
div#footer_copyright {
    float: right;
    font-size: 12px;
}