/*** TOP LEVEL ***/
html, body {
    margin: 0;
    padding: 0;
    background: #7EAF65;
    height: 100%;
    min-width: 960px;
}
div.left_column {
    float: left;
    width: 545px;
    padding-right: 20px;
    border-right: 1px solid #888;
    -moz-box-shadow:    10px 0px 10px -10px #CCC;
    -webkit-box-shadow: 10px 0px 10px -10px #CCC;
    box-shadow:         10px 0px 10px -10px #CCC;
}
div.right_column {
    float: right;
    width: 180px;
}

/*** HEADER ***/
div#header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 47px;
    min-width: 100%;
    margin: 0 auto;
    background: #307730;
    padding: 0px 0;
    border-bottom: 3px solid #000;
    -moz-box-shadow:    0px 2px 2px #232;
    -webkit-box-shadow: 0px 2px 2px #232;
    box-shadow:         0px 2px 2px #232;
    z-index: 20;
}
div#header_content {
    height: 47px;
    width: 960px;
    margin: 0 auto;
    position: relative;
    top: 0px;
}
img#header_logo {
    display: block;
    margin: 0;
    position: absolute;
    top: 9px;
    left: 450px;
}
input#header_search {
    display: block;
    position: absolute;
    top: 9px;
    left: 0px;
    border: 2px solid #000;
    -moz-border-radius: 6px;
    border-radius:      6px;
    -moz-box-shadow:    inset 1px 3px 2px #363;
    -webkit-box-shadow: inset 1px 3px 2px #363;
    box-shadow:         inset 1px 3px 2px #363;
    background-color: #508846;
    height: 14px;
    width: 200px;
    padding: 5px 0px 5px 8px;
    font: italic 14px arial;
    z-index: 25;
}
div#header_login {
    display: block;
    position: absolute;
    top: 15px;
    right: 0px;
    font-size: 11px;
}

/*** NAVIGATION ***/
div#navigation {
    position: absolute;
    left: 0;
    top: 50px;
    width: 150px;
    z-index: 5;
}
div#navigation ul {
    position: relative;
    margin: 0;
    padding: 0;
}
div#navigation ul li {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
div#navigation ul li a {
    position: relative;
    display: block;
    width: 139px;
    background-color: #779767;
    margin-bottom: 3px;
    border: 3px solid #000;
    -moz-border-radius: 8px 0 0 8px;
    border-radius:      8px 0 0 8px;
    padding: 4px 4px;
    height: 25px;
    font: bold 14px arial;
    line-height: 25px;
    border-right: 0;
    -moz-box-shadow:    0px 2px 2px #232;
    -webkit-box-shadow: 0px 2px 2px #232;
    box-shadow:         0px 2px 2px #232;
    color: #000;
    text-decoration: none;
}
div#navigation ul li a.selected {
    background-color: #FFF;
    right: 0px;
    width: 142px;
    -moz-box-shadow:    0px 4px 2px -3px #232;
    -webkit-box-shadow: 0px 4px 2px -3px #232;
    box-shadow:         0px 4px 2px -3px #232;
    z-index: 40;
}
div#navigation ul li a.normal:hover {
    background-color: #9EC18C;
}
div#navigation ul li a.normal:active {
    background-color: #C0D8B8;
}
div#navigation ul li a img {
    vertical-align: top;
}

/*** CALENDAR ***/
div#navigation table {
    font: normal 11px arial;
    margin: 10px 0;
}
div#navigation td {
    text-align: right;
    padding: 0 3px;
}
div#navigation td#date_string {
    font-weight: bold;
    color: #000;
    text-align: left;
    padding: 2px 2px 4px;
}
div#navigation td.strong {
    font-weight: bold;
    color: #315232;
}
div#navigation td.faded {
    color: #4C8048;
}
div#navigation td.today {
    background-color: #315232;
    color: #C0D8B8;
    -moz-border-radius: 2px;
    border-radius:      2px;
}

/*** CONTENT ***/
div#content_wrapper {
    position: relative;
    left: 75px;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
    width: 804px;
    background-color: #FFF;
    margin: 0 auto -120px;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    -moz-box-shadow:    1px -5px 6px #232;
    -webkit-box-shadow: 1px -5px 6px #232;
    box-shadow:         1px -5px 6px #232;
    z-index: 10;
}
div#content {
    position: relative;
    float: left;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    z-index: 10;
}
div#content_header {
    margin-top: 50px;
    padding: 15px 17px;
    background-color: #9EC18C;
    width: 770px;
    height: 75px;
    background-image: url('/image/layout/mascot-silhouette.png');
    background-position: 90% bottom;
    background-repeat: no-repeat;
    position: relative;
}
div#content_heading {
    position: absolute;
    left: 17px;
    bottom: 17px;
}
div#page_title {
    color: #232;
    font: 30px 'Oswald', arial;
}
div#page_subtitle {
    font: bold 12px arial;
    padding-bottom: 2px;
}
div#page_subtitle2 {
    font: normal 11px arial;
    color: #242;
}
div#content_body {
    width: 770px;
    padding: 15px 17px;
}
div#content_end {
    clear: both;
    height: 120px;
}

/*** FOOTER ***/
div#footer {
    position: relative;
    left: 75px;
    clear: both;
    height: 59px;
    border-top: 1px solid #222;
    width: 770px;
    margin: 40px auto 0;
    background: #FFF;
    padding: 10px 0;
    z-index: 15;
}
ul#footer_menu {
    margin: 0px;
    padding: 0px;
    float: left;
}
ul#footer_menu li {
    font: normal 13px arial;
    float: left;
    list-style: none;
    padding-right: 20px;
}
ul#footer_menu a {
    color: #333;
}
ul#footer_menu a:hover {
    color: #000;
}
div#footer_side_rail {
    float: right;
    font: normal 11px arial;
    text-align: right;
    color: #888;
}